input {
  margin-top: 20px;
}

textarea {
  vertical-align: top;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.post {
  font-size: 24px;
  text-decoration: none;
  color: red;
  float: right;
}

.deco {
  float: left;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: red;
  font-size: 20px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.deco a {
  text-decoration: none;
  color: white;
}

li.deco {
  list-style-type: none;
}

.auth a {
  color: red;
  font-size: 24px;
  text-decoration: none;
}
